.file-upload {
    padding         : 10px;
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);

}
.input-file {
    display         : none;
}
.show-them-reel {
    background-color: #d8d8d8; 
    font-family     : Arial, Helvetica, sans-serif;
    padding         : 15px;
    color           : #525252;
    margin-top      : 4rem;
}
.file-preview {
    max-width       : 100%;
    transition: opacity 0.3s linear;
}
.wrapper-image {
    background: black;
}

.wrapper-image:hover .btn-change{
    /* display: block; */
    visibility: visible;
    opacity: 1;
    /* transition: all 1s ease; */
}
.wrappers-image:hover .btn-upload{
    /* display: block; */
    visibility: visible;
    opacity: 1;
    /* transition: all 1s ease; */
}
.wrappers-image:hover .file-preview {
    opacity: 0.4;
}
.hovers-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.btns-change {
    visibility: hidden;
    font-weight: 300;
    color: white;
    /* background: #ffc107; */
    border: none;
    opacity: 0;
    transition: visibility 0s , opacity.3s linear;
}
.btns-upload {
    visibility: hidden;
    opacity: 0;
    font-weight: 300;
    color: white;
    background: #dc3545;
    border: none;
    transition: visibility 0s , opacity.3s linear;
}
