* {
    box-sizing: border-box;
}

.verticalLine {
    height: 370px;
    border-left: 1px solid #525252;
    opacity: 0.3;
}

.footer-container {
    background-image: linear-gradient(to right, #000000, #000000, #020607, #020506, #000000, #050d0e, #050d0f, #071214, #09191b, #13363c);
    /* background-color: #525252; */
    width: 100%;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
}

.footer-logo {
    width: 30%;
}

.contact-us ul {
    list-style: none;
    /* max-width: 200px; */
}

.contact-us ul li {
    padding-top: 10px;
}

/* style={{ width='600', height='450', frameborder='0', border: '0' }} */

.footer-maps {
    width: 600;
    height: 450;
    border: 0;
}

.discuss-form ul li {
    list-style: none;
    padding-top: 5px;
}

.discuss-form ul li input {
    /* width: 250px; */
}

.form-discuss {
    background-color: #ffffff;
    color: #525252;
    border-radius: 2%;
}

.social-logo a {
    color: #ffffff;
}

.social-logo a:hover {
    color: #313131;
}

.copyright {
    font-family: 'Barlow', sans-serif;
}

.form-logo,
.contact-us,
.discuss-form {
    border-right: 0.3px solid grey !important;
    /* padding: 20px !important; */
}