* {
    box-sizing: border-box;
}

.showreel-play-container {
    /* border: 1px solid black; */
    background-image: linear-gradient(to right, #000000, #000000, #020607, #020506, #000000, #050d0e, #050d0f, #071214, #09191b, #13363c);
    width: 100%;
    height: 75vh;
}

.showreel-play-frame {
    border: 1px solid black;
    background-color: #ffffff;
    width: 100%;
    height: 90%;
    position: relative;
    display: inline-block;
    margin: 0;
}

.showreel-play-frame>.show-thumbnail {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

.showreel-play-frame>.video-player {
    display: block !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    max-height: 100% !important;
    max-width: 100% !important;
    transform: translate(-50%, -50%) !important;
}

.show.thumnail {
    max-width: 100%;
    display: block;
}

.showreel-description {
    font-size: 1.2rem;
    max-width: 50%;
}

.see-more {
    color: grey;
}

.profile-pic-atshowreeldetail {
    background-color: #000;
    color: #000000;
    width: 112px;
    height: 80px;
    left: 15px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top-left-radius: 20%; */
    /* border-bottom-left-radius: 50%; */
}

.profile-pic-atshowreeldetail>.thepic {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

/* @import 'video-react/styles/scss/video-react'; */