* {
    box-sizing: border-box;
}

.subtitle {
    font-size: 1.6rem;
}

.student-identity-area {
    border: 1px solid #000000;
    border-radius: 30px;
}

.showreel-profile-list {
    width: 100%;
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}